
    .customerTable thead tr th:nth-child(3)  {
        width: 100px;
    }

    .customerTable thead tr th:nth-child(2)  {
        width: 200px;
    }

    .order_table_custom thead tr th:nth-child(2){
        width: 100px;
    }

    .order_table_custom thead tr th:nth-child(3){
        width: 200px;
    }

    .address_Table thead tr th:nth-child(2){
        width: 200px;
    }

    .address_Table thead tr th:nth-child(3){
        width: 70px;
    }


.invoicdatatable tbody tr td:nth-child(3){
    font-weight: 700;
}

.invoicdatatable tbody tr td:nth-child(5){
    font-weight: 700;
}
