@media print {
    table, table tr, table td {
        border: 1px solid #ccc !important;
    }
    table tr th, table tr td:first-child{
        font-size: 20px !important;
        font-weight: bold !important;

    }

    table tr td,  table tr th {
        padding: 20px !important;
        font-size: 19px !important;
        border: 1px solid #ccc !important;
    }
    table tr td {
        font-weight: 300 !important;
    }
    table th {
        background-color: #fff !important;
        color: #333 !important;
        border: 1px solid #ccc !important;
    }
    table * {
        border-color: #ccc !important;
    }
}
